<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="static/index.css">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta property="og:title" content="나영민_사이트">
<meta property="og:description" content="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-LuDO8kufBQ8GvALm_VGeWYlWDg8ehfQ9bQ&usqp=CAU">
<meta property="og:image" content="">
<title>NYM - profile Link</title>
</head>
<body>
    
    <div class="wrap">
        <div class="profile"></div>
        <h1 class = "title">NYM</h1>
        <h3 class = "head_name">"함께 성장해 나아가는 개발자"</h3>
        <p></p>

        <a><form action="/developer" >
            <button class = "btn" type="submit" >글쓰기</button>
        </form></a>
        
        <a><form href="/developer">
            <button type="submit" >글쓰기</button>
        </form></a>
        
        <a>
            <button type="submit">글쓰기</button></a>
        
        <button>dsds</button>

        
        <a target="_blank" href="https://spartacodingclub.kr/">To-Do Calendar</a>
        <a target="_blank" href="https://github.com/youmn327">Git-hub</a>
        <a target="_blank" href="https://chang.spar tacodingclub.kr/">Developer flow</a>
        <a target="_blank" href="https://ddingdong.spartacodingclub.kr/">More information</a>
    </div>
    
    
</body>
</html> 
